h1.headline Top Github Contributors

section.contributors-search
  h2.visually-hidden Search for top github contributors for the given repository

  = render 'search_form', resource: contributors_search